<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learning Vue2: Step by Step</title>
  <style>
    main {
      display: flex;
    }
    section {
      margin: 10px;
    }
  </style>
</head>
<body>
  <main id="root">
    <section>
      <h1>All TODOs:</h1>
      <ul>
        <li v-for="task in tasks">
          <label>
            <input type="checkbox" v-model="task.completed">
            {{task.description}}
          </label>
        </li>
      </ul>
    </section>
    <section>
      <h1>Incompleted TODOs:</h1>
      <ul>
        <li v-for="task in incompletedTasks" v-text="task.description"></li>
      </ul>
    </section>
    <section>
      <h1>Completed TODOs:</h1>
      <ul>
        <li v-for="task in completedTasks" v-text="task.description"></li>
      </ul>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#root',
      data: {
        tasks: [
          {description: 'Commit step 6', completed: false},
          {description: 'Complete step 6 Homework', completed: false},
          {description: 'Prepare coffee', completed: true},
          {description: 'Complete the puzzle', completed: false},
          {description: 'Take a brake', completed: false},
          {description: 'Eat cheese', completed: true}
        ]
      },
      computed: {
        incompletedTasks() {
          return this.tasks.filter(task => !task.completed);
        },
        completedTasks() {
          return this.tasks.filter(task => task.completed);
        }
      }
    });

  </script>
</body>
</html>